@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Roboto Slab;
    background-color: black;
    
}
.page1{
    height: 100vh;
    width: auto;
    background-image: radial-gradient(rgba(0,0,0,0),rgba(0,0,0,0.9)),url("bg.jpg");
    background-size: cover;
    background-position: center;
    display: block;
    position: static;
}
.logo{
    height: 40px;
    width: auto;
    background-color: black;
}
.navbar{
    display: flex;
    margin:0px 60px 0px 30px;
    padding-top: 2%;
    position: relative;
    justify-content:space-between;
}
nav{
    display: flex;
    align-items:center;    
}
li{
    list-style-type: none;
    transition: all 1s;
}
.page1 a{
    text-decoration: none;
    margin-left: 30px;
    padding: 4px 10px;
    color: aliceblue;
    font-size: 15px;
    font-family: Roboto Slab;
    border-radius: 50px;
    transition: all 1s;
}
.page1 a:hover{
    font-weight: bold;
    list-style-type: none;
    padding: 4px 13px;
    color: black;
    border-radius: 50px;
    background-color: rgb(241, 187, 187);
}
.page2{
    height: 80vh;
    width: auto;
    background-color: black;
}
.intro{       
    margin-top:50px;
    font-size: larger;
    box-sizing: border-box;
    display: flex; 
    justify-content: space-evenly;
    background-image: linear-gradient(45deg,red,blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    float:center;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-align: center;
}
.logos{
    margin-bottom: 70px;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    
}
.logos img{
    height:50px ;
    width: auto;
    cursor: pointer;
    transition: all 0.5s;
}
.logos img:hover{
    transform: translateY(-20px);
}
.quote{
    box-sizing: border-box;
    padding: 3%;
}
.quotes{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;   
}
.quote img{
    margin-top: 10%;
    width: auto;
    height:150px;
    margin-bottom: 0px;
    border-radius: 20px;
    float: right;
}
.quote p{
    color:rgb(191, 214, 156);
    text-transform: uppercase;
    /* font-family: Dancing Script; */
    letter-spacing: 3px;
}
